<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>

    <!--
       src里面是静态资源 th:href里面是启动springboot后引用的资源
   -->
    <meta charset="UTF-8">
    <title>商城购物</title>
    <link rel="stylesheet" th:href="@{Semantic/semantic.min.css}" href="../Semantic/semantic.min.css"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../css/index.css">

    <script src="../js/jquery-3.3.1.js" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script src="../Semantic/semantic.min.js" th:src="@{/Semantic/semantic.min.js}"></script>
    <script src="../js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="header">
    <div class="logo">
        <h1>商城购物</h1>
    </div>
    <div class="profile">
        <button class="ui primary button">交易记录</button>
        <button class="ui button">退出登录</button>
    </div>
</div>
<div class="ui divider"></div>
<div class="item-search">
    <div class="ui  fluid huge center icon input">
        <label for="search"></label><input type="text" id="search" placeholder="搜索你想要的商品">
        <i class="search icon"></i>
    </div>
</div>

<div class="item-context">

    <div class=" ui link five cards" id="item-context">


    </div>
</div>

</body>
</html>