<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xhy.shoppingsystem.mapper.ItemMapper">
    <resultMap id="itemMap" type="com.xhy.shoppingsystem.pojo.Item">
        <id column="item_id" property="itemId"  jdbcType="INTEGER"/>
        <result column="item_name" property="itemName"  jdbcType="VARCHAR"/>
        <result column="manufact" property="factory" jdbcType="VARCHAR"/>
        <result column="price" property="price"  jdbcType="DOUBLE" />
        <result column="sold" property="sold"  jdbcType="INTEGER"/>
        <result column="stock" property="stock"  jdbcType="INTEGER" />
    </resultMap>

    <select id="getAllItem" resultMap="itemMap" >
        select * from item;
    </select>

    <select id="selectItemsByName" resultMap="itemMap" parameterType="string">
        select * from item where item_name like '%${value}%'
    </select>

    <insert id="addItem" parameterType="com.xhy.shoppingsystem.pojo.Item">
        insert into item (item_name,manufact,price,sold,stock) value (#{itemName},#{factory},#{price},0,#{stock});
    </insert>
    
    <select id="selectItemById" resultMap="itemMap" parameterType="int">
        select * from item where item_id=#{id};
    </select>

    <delete id="deleteItemById" parameterType="int">
        delete from item where item_id=#{id};
    </delete>

    <update id="updateItemsInRepository" parameterType="com.xhy.shoppingsystem.pojo.Item">
        update item set stock=#{stock} where item_id=#{itemId};
    </update>

    <update id="updateItemSold" parameterType="com.xhy.shoppingsystem.pojo.Item">
        update item set sold=#{sold} where item_id=#{itemId};
    </update>
</mapper>
