<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xhy.shoppingsystem.mapper.UserMapper">

    <select id="queueUserByID" parameterType="java.lang.Integer" resultType="com.xhy.shoppingsystem.pojo.User">
        SELECT * FROM user where user_id = #{id};
    </select>
</mapper>